<div class="container">
    <h2>Registrar cliente</h2>

    <form [formGroup]="clienteForm" (ngSubmit)="crearCliente()">
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" formControlName="nombre" placeholder="Ingrese el nombre">
            <span *ngIf="clienteForm.controls['nombre'].invalid && clienteForm.controls['nombre'].touched" class="error">
                El nombre debe tener al menos 3 caracteres.
            </span>
        </div>

        <div class="form-group">
            <label>Género:</label>
            <select formControlName="genero">
                <option value="">Seleccione..</option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
            </select>
            <span *ngIf="clienteForm.controls['genero'].invalid && clienteForm.controls['genero'].touched" class="error">
                El género es obligatorio
            </span>
        </div>

        <div class="form-group">
            <label>Edad:</label>
            <input type="number" formControlName="edad">
            <span *ngIf="clienteForm.controls['edad'].invalid && clienteForm.controls['edad'].touched" class="error">
                La edad debe ser mayor a 18 años
            </span>
        </div>

        <div class="form-group">
            <label>Idenficación:</label>
            <input type="text" formControlName="identificacion">
            <span *ngIf="clienteForm.controls['identificacion'].invalid && clienteForm.controls['identificacion'].touched" class="error">
                La idenficación deber tener 10 dígitos válidos.
            </span>
        </div>

        <div class="form-group">
            <label>Dirección:</label>
            <input type="text" formControlName="direccion">
        </div>

        <div class="form-group">
            <label>Teléfono:</label>
            <input type="text" formControlName="telefono">
            <span *ngIf="clienteForm.controls['telefono'].invalid && clienteForm.controls['telefono'].touched" class="error">
                El telefono deber tener 10 dígitos válidos.
            </span>
        </div>

        <div class="form-group">
            <label>Estado:</label>
            <select formControlName="estado">
                <option value="true">Activo</option>
                <option value="false">Inactivo</option>
            </select>
        </div>

        <div class="form-group">
            <label>Username:</label>
            <input type="text" formControlName="username">
            <span *ngIf="clienteForm.controls['username'].invalid &&
             clienteForm.controls['username'].touched &&
             !clienteForm.controls['username'].errors?.['usernameRepetido']" 
              class="error">
                El username debe tener al menos 5 caracteres y solo puede contener letras y números.
            </span>
            <span *ngIf="clienteForm.controls['username'].errors?.['usernameRepetido']" class="error">
                El username ya está en uso, elige otro.
            </span>
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input type="password" formControlName="password">
            <span *ngIf="clienteForm.controls['password'].invalid && clienteForm.controls['password'].touched" class="error">
                El contraseña debe tener entre 8 y 12 caracteres.
            </span>
        </div>
        

        <div *ngIf="mensajeError" class="mensaje-error">{{mensajeError}}</div>

        <button type="submit" [disabled]="clienteForm.invalid">Crear cliente</button>
    </form>
</div>