.formulario { 

  max-width: 500px; 

  margin: 0 auto; 

} 

 

.form-group { 

  margin-bottom: 1rem; 

} 

 

label { 

  font-weight: bold; 

  display: block; 

} 

 

input, 

select { 

  width: 100%; 

  padding: 8px; 

  box-sizing: border-box; 

} 